In [1]:
import time
import argparse
import pandas as pd

In [2]:
def compute_stats(dataset_df):
    print("Number of samples with (at least one) NaN value: ", len(dataset_df) - len(dataset_df.dropna()), "\n")

    # compute statistics for each column of the dataframe
    for column_name in dataset_df.columns:
        print("\nStatistics for column/feature: ", column_name)
        print(dataset_df[column_name].describe())

    # print the unique elements of each column with categorical values
    print("\nUnique values for each column with categorical values:\n")

    for column_name in ['user_ta_level', 'user_age_range', 'user_sex', 'user_location', 'user_nb_contributions', 'user_nb_cities_visited', 'user_nb_helpful_votes', 'user_nb_photos', 'user_tags', 'restaurant_reviewed_url', 'review_date', 'review_city', 'review_lang', 'review_rating']:
            if column_name == 'user_nb_contributions' or column_name == 'user_nb_cities_visited' or column_name == 'user_nb_helpful_votes' or column_name == 'user_nb_photos':
                print(f"\n{column_name} has max value {max(dataset_df[column_name].unique())} and min value {min(dataset_df[column_name].unique())} in this dataset.")
            elif column_name == 'user_tags':
                unique_tags_combination = dataset_df[column_name].unique()
                unrolled_tags = ";".join(unique_tags_combination).split(';')
                unique_tags = set(unrolled_tags)
                print(f"\n{column_name} has {len(unique_tags)} unique tags in this dataset.")
                print("The unique tags are the following: ", unique_tags)
                      
            elif column_name == 'restaurant_reviewed_url':
                unique_restaurants_urls = dataset_df[column_name].unique()
                print("\nThe number of different restaurants in this dataset is: ", len(unique_restaurants_urls))

            elif column_name == 'review_date':
                unique_review_dates = dataset_df[column_name].unique()
                date_years = [int(date[-4:]) for date in unique_review_dates]
                print(f"The oldest review year date is {min(date_years)} and the most recent review date year is {max(date_years)}.")

            elif column_name == 'user_location':
                unique_locations = dataset_df[column_name].unique()
                print("\n", column_name, " has ", len(unique_locations), " unique values in this dataset which are: ", unique_locations)

                
            else:
                print("\n", column_name, " has the following unique values in this dataset: ", dataset_df[column_name].unique())


    # compute statistics for the number of samples per user
    print("\nStatistics for the number of samples per user:\n")
    print(dataset_df.groupby('user_id').size().describe())

    # compute statistics for the number of samples per restaurant
    print("\nStatistics for the number of samples per restaurant:\n")
    print(dataset_df.groupby('restaurant_reviewed_url').size().describe())

    # compute statistics for the number of samples per city
    print("\nStatistics for the number of samples per city:\n")
    print(dataset_df.groupby('review_city').size().describe())

    # compute statistics for the number of samples per language
    print("\nStatistics for the number of samples per language:\n")
    print(dataset_df.groupby('review_lang').size().describe())

    # compute statistics for the number of samples per rating
    print("\nStatistics for the number of samples per rating:\n")
    print(dataset_df.groupby('review_rating').size().describe())

    # compute statistics for the number of samples per date
    print("\nStatistics for the number of samples per date:\n")
    print(dataset_df.groupby('review_date').size().describe())

    # compute the average review text length
    print("\nAverage review length: ", dataset_df['review'].str.len().mean(), " characters.")

    # compute the average review text length per language
    # ...

In [4]:
dataset_version = "EN_3K"

path_dataset = f'./Data/TA_final_dataset_{dataset_version}.csv'
dataset_df = pd.read_csv(path_dataset, delimiter="\t", encoding="utf-8", )

compute_stats(dataset_df)

Number of samples with (at least one) NaN value:  0


Statistics for column/feature:  user_id_link
count                                                  3090
unique                                                 2715
top       https://www.tripadvisor.com/Profile/hangontrav...
freq                                                     10
Name: user_id_link, dtype: object

Statistics for column/feature:  user_id
count                     3090
unique                    2706
top       hangontravelingwoman
freq                        10
Name: user_id, dtype: object

Statistics for column/feature:  user_name
count                     3090
unique                    2682
top       hangontravelingwoman
freq                        10
Name: user_name, dtype: object

Statistics for column/feature:  user_ta_level
count    3090.000000
mean        5.502265
std         0.821861
min         1.000000
25%         5.000000
50%         6.000000
75%         6.000000
max         6.000000
Name: user_ta_level, dtype: float64

Statistics for column/feature:  user_age_range
count      3090
unique        7
top       35-49
freq       1149
Name: user_age_range, dtype: object

Statistics for column/feature:  user_sex
count     3090
unique       2
top        man
freq      1948
Name: user_sex, dtype: object

Statistics for column/feature:  user_location
count               3090
unique              1144
top       London, United
freq                 301
Name: user_location, dtype: object

Statistics for column/feature:  user_nb_contributions
count    3090.000000
mean      192.630744
std       201.567881
min         2.000000
25%        58.000000
50%       118.000000
75%       245.000000
max       994.000000
Name: user_nb_contributions, dtype: float64

Statistics for column/feature:  user_nb_cities_visited
count    3090.000000
mean      160.820388
std       159.621671
min         0.000000
25%        50.000000
50%       107.000000
75%       216.000000
max       938.000000
Name: user_nb_cities_visited, dtype: float64

Statistics for column/feature:  user_nb_helpful_votes
count    3090.000000
mean      139.146602
std       153.141609
min         2.000000
25%        46.000000
50%        87.000000
75%       170.750000
max       991.000000
Name: user_nb_helpful_votes, dtype: float64

Statistics for column/feature:  user_nb_photos
count    3090.000000
mean      105.555340
std       179.436172
min         2.000000
25%         9.000000
50%        28.000000
75%       106.000000
max       998.000000
Name: user_nb_photos, dtype: float64

Statistics for column/feature:  user_tags
count                                                  3090
unique                                                  885
top       Art and Architecture Lover;Foodie;Urban Explor...
freq                                                    219
Name: user_tags, dtype: object

Statistics for column/feature:  restaurant_reviewed_url
count                                                  3090
unique                                                  363
top       https://www.tripadvisor.com/Restaurant_Review-...
freq                                                     46
Name: restaurant_reviewed_url, dtype: object

Statistics for column/feature:  review_date
count             3090
unique            1759
top       May 11, 2019
freq                 9
Name: review_date, dtype: object

Statistics for column/feature:  review_city
count                    3090
unique                     17
top       Siem Reap, Cambodia
freq                      447
Name: review_city, dtype: object

Statistics for column/feature:  review_lang
count     3090
unique       1
top         en
freq      3090
Name: review_lang, dtype: object

Statistics for column/feature:  review_rating
count    3090.000000
mean        4.605825
std         0.738765
min         1.000000
25%         4.000000
50%         5.000000
75%         5.000000
max         5.000000
Name: review_rating, dtype: float64

Statistics for column/feature:  review_title
count          3090
unique         2879
top       Excellent
freq             18
Name: review_title, dtype: object

Statistics for column/feature:  review
count                                                  3090
unique                                                 3090
top       Food is fantastic, staff is great, owner Bruno...
freq                                                      1
Name: review, dtype: object

Unique values for each column with categorical values:


 user_ta_level  has the following unique values in this dataset:  [6. 5. 4. 3. 2. 1.]

 user_age_range  has the following unique values in this dataset:  ['35-49' '25-34' '50-64' '18-24' '65+' '60+' '13-17']

 user_sex  has the following unique values in this dataset:  ['man' 'woman']

 user_location  has  1144  unique values in this dataset which are:  ['Stockholm, Sweden' 'Leeds, United' 'Miami, Florida' ... 'Pittsford, New'
 'Napa, California' 'Cadiz, Spain']

user_nb_contributions has max value 994.0 and min value 2.0 in this dataset.

user_nb_cities_visited has max value 938.0 and min value 0.0 in this dataset.

user_nb_helpful_votes has max value 991.0 and min value 2.0 in this dataset.

user_nb_photos has max value 998.0 and min value 2.0 in this dataset.

user_tags has 19 unique tags in this dataset.
The unique tags are the following:  {'Thrifty Traveler', '60+ Traveler', 'Thrill Seeker', 'History Buff', 'Nightlife Seeker', 'Art and Architecture Lover', 'Urban Explorer', 'Shopping Fanatic', 'Vegetarian', 'Peace and Quiet Seeker', 'Backpacker', 'Trendsetter', 'Foodie', 'Nature Lover', 'Luxury Traveler', 'Eco-tourist', 'Family Vacationer', 'Beach Goer', 'Like a Local'}

The number of different restaurants in this dataset is:  363
The oldest review year date is 2011 and the most recent review date year is 2023.

 review_city  has the following unique values in this dataset:  ['New York City, United States' 'Santorini, Greece' 'Zermatt, Switzerland'
 'Berlin, Germany' 'Lisbon, Portugal' 'Dubai, United Arab Emirates'
 'Buenos Aires, Argentina' 'Queenstown, New Zealand' 'Bali, Indonesia'
 'London, United Kingdom' 'Paris, France' 'Siem Reap, Cambodia'
 'Prague, Czech Republic' 'Phuket, Thailand' 'Istanbul, Turkey'
 'Hanoi, Vietnam' 'Marrakech, Morocco']

 review_lang  has the following unique values in this dataset:  ['en']

 review_rating  has the following unique values in this dataset:  [5. 3. 4. 1. 2.]

Statistics for the number of samples per user:

count    2706.000000
mean        1.141907
std         0.507069
min         1.000000
25%         1.000000
50%         1.000000
75%         1.000000
max        10.000000
dtype: float64

Statistics for the number of samples per restaurant:

count    363.000000
mean       8.512397
std        9.257623
min        1.000000
25%        2.000000
50%        5.000000
75%       12.000000
max       46.000000
dtype: float64

Statistics for the number of samples per city:

count     17.000000
mean     181.764706
std      132.885068
min        1.000000
25%       76.000000
50%      172.000000
75%      262.000000
max      447.000000
dtype: float64

Statistics for the number of samples per language:

count       1.0
mean     3090.0
std         NaN
min      3090.0
25%      3090.0
50%      3090.0
75%      3090.0
max      3090.0
dtype: float64

Statistics for the number of samples per rating:

count       5.000000
mean      618.000000
std       927.794428
min        29.000000
25%        36.000000
50%       192.000000
75%       610.000000
max      2223.000000
dtype: float64

Statistics for the number of samples per date:

count    1759.000000
mean        1.756680
std         1.130772
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         9.000000
dtype: float64

Average review length:  447.147572815534  characters.